<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Statistics of Sightings</title></head>
#    <a href = '/all'>Back</a>
  </head>

  <body>
    <p>
      <h1>Statistics of Sights</h1>
      <br>
      <br>
      <h3>Total number of sightings of squirrels at central park in 2018: {{total}}</h3>
      <br>
    
      Other Fun Features:
      <ul>
	<li>Total Squirrels: {{total}}}</li>
	<li>{{color}}</li>
 	<li>Number of Squirrels on AM: {{AM_Count}}</li>
      	<li>Number of Squirrels on PM: {{PM_Count}}</li>
      	<li>Number of Squirrels Approaching Human: {{Approaches_Count}}</li>
      </ul>

    </p>
  </body>
</html>


