.u-section-1 {
  min-height: 1162px;
}

.u-section-1 .u-image-1 {
  height: 453px;
  object-position: 50% 81.55%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 82px 551px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 396px;
}

.u-section-1 .u-list-1 {
  min-height: 287px;
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  height: auto;
  width: 726px;
  grid-gap: 22px 22px;
  margin: 69px auto 60px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 18px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 18px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 306px;
    margin-left: 451px;
    margin-right: 451px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -4px;
    margin-left: 296px;
    margin-right: 296px;
  }

  .u-section-1 .u-list-1 {
    min-height: 183px;
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    width: 711px;
    margin-top: -386px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-icon-1 {
    color: rgb(208, 175, 135) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(208, 175, 135) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1296px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 341px;
    margin-right: 341px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 186px;
    margin-right: 186px;
  }

  .u-section-1 .u-list-1 {
    min-height: 561px;
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    width: 672px;
    margin-top: -428px;
    margin-right: calc(((100% - 1140px) / 2) + 24px);
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 331px;
    margin-left: 251px;
    margin-right: 251px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-1 .u-list-1 {
    width: 484px;
    margin-top: -453px;
    margin-right: calc(((100% - 1140px) / 2) + 28px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 348px;
    margin-left: 151px;
    margin-right: 151px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: 340px;
    margin-top: -856px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}